/* FOOTER */

.footer {
    background-color: #181818;
    border-top: 1px solid white;
}

.footerRow {
    @include display-JC-AI-width (flex, space-between, center, inherit);
    padding: 20px 0px;
    margin: 0rem 5rem;
}

.footerRef {
    width: 25%;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px 10px 10px;

    & h2 {
        color: #dfdbdb;
        font-size: 3rem;
    }

    & p {
        color: #dfdbdb;
    }
}

.footerSocial {
    @include display-JC-AI-width (flex, inherit, center, 20%);
    flex-direction: column;

    & h2 {
        color: #dfdbdb;
        font-size: 2rem;
    }

    & ul li {
        color: #dfdbdb;
        list-style-type: none;
        font-size: 1.15rem;
        padding-top: 2px;
    }
}

.copyright {
    @include display-JC-AI-width (flex, space-evenly, center, inherit);
    color: #dfdbdb;
    font-size: 0.80rem;
}