/* HEADER */

.headerUno {
    @include display-JC-AI-width (flex, space-around, center, 100%);
    background-color: black;
    position: sticky;
    top: 0%;
    padding: 1rem 0rem;
    border-bottom: 1.25px white solid;
    z-index: 2;
}

.headerLogo {
    display: flex;
    align-items: center;

    & img {
        width: 5rem;
    }

    & h1 {
        color: #e5e5e5;
        font-size: 3rem;
        margin: 0rem 1rem;
    }
}

.headerMenu {
    @include display-JC-AI-width (flex, inherit, center, 50%);

    & ul {
        @include display-JC-AI-width (flex, space-between, center, 100%);
        list-style: none;
    }

    & li a {
        color: #e5e5e5;
        font-size: 1.15rem;
    }
}

.button {
    display: none;
}