/* MEDIA QUERIES */

/* HOME */
@media (max-width: 1366px) {
    /* SECCIÓN 1 */

    .textContent1 {

        & h2 {
            font-size: 3rem;
        }
    }

    .VH {
        width: 50%;
    }

    /* FOOTER */
    .footerRef {
        width: 30%;

        & h2 {
            font-size: 2.5rem;
        }
    }

    .footerSocial {
        width: 25%;

        & ul li {
            font-size: 1rem;
        }
    }
}

@media (max-width: 1200px) {

    /* SECCIÓN 1 */
    .background1 {
        align-items: inherit;
    }

    .globalContent1 {
        flex-direction: column;
    }

    .textContent1 {
        width: 100%;

        & h2 {
            font-size: 3rem;
        }

        & p {
            width: 60%;
        }
    }

    .VH {
        width: 60%;
        margin-bottom: 1rem;
    }

    /* GALERÍA HOME */
    .containerGrid {
        height: 50vh;
        padding: 1rem 5rem;
    }

    /* FOOTER */
    .footerRef {
        width: 35%;
    }

    .footerSocial {
        width: 30%;

        & ul li {
            font-size: 1rem;
        }
    }
}

@media (max-width: 992px) {

    /* HEADER */
    .headerMenu {
        position: fixed;
        align-items: center;
        background-color: #181818;
        width: 100%;
        height: 100vh;
        top: 8.5rem;
        transform: translateX(-100%);
        transition: transform 0.3s;

        &.active {
            display: block;
            transform: translateX(0);
        }

        & ul {
            flex-direction: column;
            padding: 100px 0px 20px 0px;

            & li {
                padding: 10px 0px;
                cursor: pointer;

                & a {
                    font-size: 1.75rem;
                }
            }
        }
    }

    /* MENU HAM */
    .button {
        background: none;
        border: none;
        display: inherit;
        flex-direction: column;
        padding-left: 40%;

        & .linea1,
        .linea2,
        .linea3 {
            width: 30px;
            height: 4px;
            margin: 3px 0;
            background: white;
            border-radius: 10px;
            transition: 0.3s, transform 0.3s;
        }
    }

    .change .linea1 {
        transform: rotate(-45deg) translate(1px, -1px);
        position: absolute;
    }

    .change .linea2 {
        opacity: 0;
        overflow: hidden;
    }

    .change .linea3 {
        transform: rotate(45deg) translate(-1px, -1px);
        position: absolute;
    }

    /* SECCIÓN 1 */
    .background1 {
        align-items: inherit;
    }

    .globalContent1 {
        flex-direction: column;
    }

    .textContent1 {
        width: 100%;

        & h2 {
            font-size: 3rem;
        }

        & p {
            width: 60%;
        }
    }

    .VH {
        width: 60%;
        margin-bottom: 1rem;
    }

    /* GALERÍA HOME */
    .containerGrid {
        height: 50vh;
        padding: 1rem 5rem;
    }

    /* FOOTER */
    .footerRef {
        width: 40%;

        & h2 {
            font-size: 2.5rem;
        }
    }

    .footerSocial {
        width: 40%;
    }
}

@media (max-width: 768px) {
    /* HEADER */
    .headerMenu {
        top: 7.25rem;
    }

    .headerUno {
        padding: 1rem 2rem;
    }

    .headerLogo {
        & img {
            width: 4rem;
        }

        & h1 {
            font-size: 2.5rem;
        }
    }

    /* SECCION 1HOME */
    .background1::before {
        bottom: 2.3%;
    }

    /* FOOTER */
    .footerRow {
        flex-direction: column;
        text-align: center;
        margin: inherit;
    }

    .footerRef {
        width: 70%;
        padding: 1rem 0rem;
    }

    .footerSocial {
        width: 70%;
        padding: 1rem 0rem;
    }
}

@media (max-width: 576px) {
    /* HEADER */
    .headerUno {
        padding: 1rem 3rem;
    }

    /* GALERÍA HOME */
    .galeryTitle {
        font-size: 1.25rem;
    }
    
    .containerGrid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 30% 20% 20% 30%;
        grid-template-areas:
            "foto1 foto1"
            "foto2 foto3"
            "foto5 foto6"
            "foto4 foto4";
        height: 100vh;
    }

    .verMas p a {
        font-size: 1rem;
        padding-top: 0.75rem;
    }

}